In [1]:
from nl2sql_generic import Nl2sqlBq

In [2]:
# Initializing 1st time for a dataset
nl2sqlbq_client = Nl2sqlBq(project_id="vertexai-pgt",dataset_id="nl2sql")

# When Initializing for first time , you will need to create metadata_json
nl2sqlbq_client.create_metadata_json(metadata_json_dest_path = "metadata_cache.json",data_dict_path ="data_dict.json") #data_dict_path is optional . It is used to provide descriptions for tables and columns

In [3]:
# Initializing when metadata cache is already created
nl2sqlbq_client = Nl2sqlBq(project_id="vertexai-pgt",dataset_id="nl2sql",metadata_json_path = "metadata_cache.json")

In [4]:
question = "How many average household rooms are there in block group 5?"

In [8]:
# Convert to sql
query = nl2sqlbq_client.text_to_sql(question) # Optionally provide table name for faster exection by avoiding table filtering when there are more than 1 table in dataset
print(query)

SELECT
  SUM(AveRooms)
FROM vertexai-pgt.nl2sql.california_housing
WHERE
  Block_group = 5;

In [9]:
# Execute query
nl2sqlbq_client.execute_query(query)

        f0_
0  4.761658

In [11]:
#Convert to sql and excute
nl2sqlbq_client.text_to_sql_execute(question)

SELECT
  Block_group,
  AveRooms
FROM vertexai-pgt.nl2sql.california_housing
WHERE
  Block_group = 5;

   Block_group  AveRooms
0            5  4.761658

In [12]:
# If you already know table_name provide it, for more accurate and faster execution by avoiding table_filtering when there are more than 1 table in dataset
nl2sqlbq_client.text_to_sql_execute(question,table_name="california_housing")

SELECT
  AveRooms
FROM vertexai-pgt.nl2sql.california_housing
WHERE
  Block_group = 5;

   AveRooms
0  4.761658