In [1]:
%load_ext autoreload
%autoreload 2

import sys  
sys.path.insert(1, '../')
sys.path.insert(1, '/home/avijendra/nl2sql_lib/nl2sql-generic/nl2sql_src')
print(sys.path)

['/home/avijendra/nl2sql_lib/nl2sql-generic/_NL2SQL_Studio/pg-interface', '/home/avijendra/nl2sql_lib/nl2sql-generic/nl2sql_src', '../', '/usr/lib/python311.zip', '/usr/lib/python3.11', '/usr/lib/python3.11/lib-dynload', '', '/home/avijendra/test-nl/lib/python3.11/site-packages', '/home/avijendra/temp/NL2SQL-20240408T114128Z-001/NL2SQL']

In [2]:
# Uncomment the below commands if required to re-install the libraries
# %pip install faiss-cpu --quiet
# %pip install google.cloud --quiet
# %pip install cloud-sql-python-connector --quiet
# %pip install pg8000 --quiet
# %pip install langchain-google-vertexai

In [2]:
import numpy as np
import csv
import faiss
from pandas import DataFrame
from datetime import datetime
from tqdm import tqdm

In [3]:
# PROJECT_ID = ! gcloud config get project
# from nl2sql_generic import Nl2sqlBq
PROJECT_ID = 'sl-test-project-363109'
LOCATION = 'us-central1'
DATASET_ID = 'zoominfo'

# Query and Embeddings in PostgreSQL

## Initialise

In [4]:
from nl2sql_query_embeddings import PgSqlEmb

# Make sure you update the following variables in-line with your project
PGPROJ = "sl-test-project-363109"
PGLOCATION = 'us-central1'
PGINSTANCE = "nl2sql-test"
PGDB = "test-db"
PGTABLE = 'documents' #'myqueries'
PGUSER = "postgres"
PGPWD = "nl2sql-test"
# INDX_FILE = 'saved_index_pgdata' # optoinal, considered as default

pge = PgSqlEmb(PGPROJ, PGLOCATION, PGINSTANCE, PGDB, PGUSER, PGPWD, pg_table=PGTABLE)
# mytable=PGTABLE

PGSQL - class Initiated

## Create Table

In [9]:
# Create Table in PostgresDB if not already existing
pge.create_table()

## Insert records to PostgreSQL and update index

In [10]:
examples = []
with open('sample_sqls.csv', 'r') as f:
    samples_data = csv.reader(f)
    header = next(samples_data)
    for r in samples_data:
        examples.append(r)

for example in tqdm(examples):
    pge.insert_row(example[0], example[1])

100%|██████████| 19/19 [00:54<00:00,  2.88s/it]

In [12]:
new_question = "How many employees in California are from Livingston County?"
mapped_sql = "select count(*) from `sl-test-project-363109.zoominfo.zi-retail-companies-headquartered-california` where ZI_C_COMPANY_COUNTY = 'Livingston County'"
pge.insert_row(new_question, mapped_sql)

## Retrieve data

In [7]:
# Retrieve the data from the PostgreDB and return a dataframe
def extract_data():
    tmp = pge.extract_data()
    df = DataFrame(tmp.fetchall())
    print(df)
    return df

df = extract_data()
df
headers = ["question", "sql"]
df.to_csv('sample_sqls.csv', columns=headers, index=False)

    q_id                                           question  \
0      1          How many people are enrolled in CalWorks?
1      2            How many of them live in Nevada County?
2      3  How has participation in CalWorks changed sinc...
3      4   How do CalWorks program participation trends ...
4      5  How have these race and ethnicity trends chang...
5      6  Which county has the greatest proportion of Ca...
6      7      What about three or more additional programs?
7      8  Which programs have the highest co-enrollment ...
8      9  Which programs have the highest co-enrollment ...
9     10  What county has the greatest enrollment in Cal...
10    11  Which five counties have the lowest number of ...
11    12  How many Hispanic individuals are served acros...
12    13                  What is the breakdown by program?
13    14                        Has this changed over time?
14    15                       Change over time by program?
15    16  Which counties have the highest and lowest rat...
16    17           How many unique products are in service?
17    18           How many unique products are in service?
18    19  How many unique products are in service at the...
19    20  How many employees in California are from Livi...
20    21           What is the revenue for pharma industry?
21    22           What is the revenue for pharma industry?
22    23    What is the revenue for manufacturing industry?
23    24    What is the revenue for manufacturing industry?
24    25  What are the top 10 industries having revenue ...
25    26  Which industry has highest revenue in Dallas c...
26    27                              Testing questionn add
27    28                              Testing questionn add
28    29                                            Testing
29    30                                       New question
30    31                                            Testing
31    32                                               test
32    33                              Last question to test
33    34                      Deployed version of the  code
34    35      What is the revenue for construction industry
35    36                                      next question
36    37  What are the top 10 industries having revenue ...
37    38  What are the top 10 industries having revenue ...
38    39  What are the top 10 industries having revenue ...
39    40           What is the revenue for Pharma industry?
40    41    What is the secondary revenue for PG2 industry?

                                                  sql  \
0   SELECT  COALESCE(SUM(SAFE_CAST( Person AS INT6...
1   SELECT SUM(CAST(Person AS INT64)) AS total_ben...
2   select  year, sum(total_beneficiaries) as tota...
3   SELECT COALESCE(SUM(SAFE_CAST( White   AS INT6...
4   SELECT fileyear  AS calhhs_dashboard_2015_2020...
5   SELECT Number AS county, COALESCE(SUM(SAFE_CAS...
6   SELECT Number AS county, COALESCE(SUM(SAFE_CAS...
7   SELECT COALESCE(SUM(SAFE_CAST( Person   AS INT...
8   SELECT COALESCE(SUM(SAFE_CAST( Person   AS INT...
9   SELECT Vendor_Location  AS calfresh_redemption...
10  SELECT Vendor_Location,(vendor_cnt/total_parti...
11  SELECT  COALESCE(SUM(SAFE_CAST( Hispanic   AS ...
12  select  year, sum(total_beneficiaries) as tota...
13  select  year, sum(total_hispanic) as total_his...
14  select Program, year, sum(total_hispanic) as t...
15  select annual_file.Number, (count(provider.OBJ...
16  select count(distinct PRODUCT) from `sl-test-p...
17  select count(distinct PRODUCT) from `sl-test-p...
18  select count(distinct PRODUCT) from `sl-test-p...
19  select count(*) from `sl-test-project-363109.z...
20  select * from table1 where industry=<dq>pharma...
21  select * from table1 where industry=<dq>pharma...
22  select * from table1 where industry=<dq>pharma...
23  select * from table1 where industry=<dq>pharma...
24  select * from table1 where industry=<dq>pharma...
25  select revenue from table1 where county=<sq><s...
26                                 Select * from tab;
27                                 Select * from tab;
28                                            Testing
29                                        updated sql
30                                            Testing
31
32                               Select last question
33                                Select all deployed
34  Select sum(revenue) from table1 where industry...
35                                        next answer
36  select * from table1 where industry=<dq>pharma...
37  select * from table1 where industry=<dq>pharma...
38  select * from table1 where industry=<dq>pharma...
39  select * from documents where industry=<dq>pha...
40  select * from pginterface where industry=<dq>p...

                                      query_embedding
0   [0.022842301055788994, -0.02063756436109543, -...
1   [-0.03886029124259949, -0.018496988341212273, ...
2   [0.04597264155745506, -0.005924492608755827, -...
3   [0.0433129146695137, -0.029444819316267967, -0...
4   [0.0406758189201355, -0.01777486875653267, -0....
5   [0.03448931500315666, -0.041594792157411575, -...
6   [-0.023760443553328514, -0.055121421813964844,...
7   [0.047975003719329834, -0.019127340987324715, ...
8   [0.047975003719329834, -0.019127340987324715, ...
9   [0.008530459366738796, -0.033839065581560135, ...
10  [0.00802867766469717, -0.03528197482228279, -0...
11  [0.011037055402994156, 0.014937077648937702, -...
12  [-0.0017136035021394491, -0.0419219546020031, ...
13  [0.019026871770620346, -0.029509998857975006, ...
14  [0.016102315858006477, -0.02841823734343052, -...
15  [0.0501357726752758, -0.031143343076109886, -0...
16  [-0.014078792184591293, -0.061913248151540756,...
17  [-0.014078792184591293, -0.061913248151540756,...
18  [0.017931437119841576, -0.0584653839468956, -0...
19  [-0.0085710184648633, -0.041441068053245544, -...
20  [0.03728298470377922, -0.04184051603078842, -0...
21  [0.03728298470377922, -0.04184051603078842, -0...
22  [0.01021251454949379, -0.06885842978954315, -0...
23  [0.01021251454949379, -0.06885842978954315, -0...
24  [0.013614027760922909, -0.08386076241731644, -...
25  [0.06570511311292648, -0.0431549996137619, -0....
26  [0.03732858970761299, -0.07395855337381363, -0...
27  [0.03732858970761299, -0.07395855337381363, -0...
28  [0.03558292239904404, -0.04057864099740982, -0...
29  [-0.016004052013158798, -0.06323932856321335, ...
30  [0.03558292239904404, -0.04057864099740982, -0...
31  [0.03050115890800953, -0.037213508039712906, -...
32  [0.006838339380919933, -0.029376037418842316, ...
33  [0.035545866936445236, -0.022231755778193474, ...
34  [0.02158249542117119, -0.05072572082281113, -0...
35  [-0.016777528449892998, -0.044665802270174026,...
36  [0.013614027760922909, -0.08386076241731644, -...
37  [0.013614027760922909, -0.08386076241731644, -...
38  [0.013614027760922909, -0.08386076241731644, -...
39  [0.040165357291698456, -0.04151898995041847, -...
40  [-0.009731152094900608, -0.06546226143836975, ...

## Search the VectorDB for closest matching queries

In [13]:
# Search for the closest matching queries
new_query = 'What is the total revenue for Hospitality industry'
output_json = pge.search_matching_queries(new_query)
output_json

Trying to read the index file ../../nl2sql-generic/nl2sql_src/cache_metadata/saved_index_pgdata

[{'question': ' How do CalWorks program participation trends differ by race and ethnicity?',
  'sql': "SELECT COALESCE(SUM(SAFE_CAST( White   AS INT64)), 0) AS calhhs_dashboard_2015_2020_annual_data_file_total_whites_1, COALESCE(SUM(SAFE_CAST( Black   AS INT64)), 0) AS calhhs_dashboard_2015_2020_annual_data_file_total_blacks_1, COALESCE(SUM(SAFE_CAST( Hispanic   AS INT64)), 0) AS calhhs_dashboard_2015_2020_annual_data_file_total_hispanics_1, COALESCE(SUM(SAFE_CAST( Asian_PI   AS INT64)), 0) AS calhhs_dashboard_2015_2020_annual_data_file_total_asian_1, COALESCE(SUM(SAFE_CAST( Native_American   AS INT64)), 0) AS calhhs_dashboard_2015_2020_annual_data_file_total_native_american_1 FROM `cdii-poc.HHS_Program_Counts.calhhs-dashboard-2015-2020-annual-data-file`  WHERE (Program ) = 'CalWorks';"},
 {'question': 'How many of them live in Nevada County?',
  'sql': "SELECT SUM(CAST(Person AS INT64)) AS total_beneficiaries FROM `cdii-poc.HHS_Program_Counts.calhhs-dashboard-2015-2020-annual-data-file` where Level='County' and Number='Nevada' and Program = 'CalWorks';"},
 {'question': 'How have these race and ethnicity trends changed over time?',
  'sql': "SELECT fileyear  AS calhhs_dashboard_2015_2020_annual_data_file_fileyear, COALESCE(SUM(SAFE_CAST( White   AS INT64)), 0) AS calhhs_dashboard_2015_2020_annual_data_file_total_whites_1, COALESCE(SUM(SAFE_CAST( Black   AS INT64)), 0) AS calhhs_dashboard_2015_2020_annual_data_file_total_blacks_1, COALESCE(SUM(SAFE_CAST( Hispanic   AS INT64)), 0) AS calhhs_dashboard_2015_2020_annual_data_file_total_hispanics_1, COALESCE(SUM(SAFE_CAST( Asian_PI   AS INT64)), 0) AS calhhs_dashboard_2015_2020_annual_data_file_total_asian_1, COALESCE(SUM(SAFE_CAST( Native_American   AS INT64)), 0) AS calhhs_dashboard_2015_2020_annual_data_file_total_native_american_1 FROM `cdii-poc.HHS_Program_Counts.calhhs-dashboard-2015-2020-annual-data-file`  AS calhhs_dashboard_2015_2020_annual_data_file WHERE (Program ) = 'CalWorks' GROUP BY fileyear ORDER BY fileyear;"}]

## Clear VectorDB and re-create VectorDB from all data in PostgreSQL

In [11]:
pge.recreate_vectordb_index()

Number of elements :  14

## Clear all Data in DB

In [12]:
pge.empty_table()
df = extract_data()
df

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []